<!DOCTYPE html>
<html>
  <head>
    <style>
      .chart {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        position: relative;
        bottom: 10px;
      }

      .bar {
        width: 20px;
        background-color: blue;
        transition: height 0.5s;
      }

      .axis {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        font-family: Arial, sans-serif;
        font-size: 12px;
      }

      .x-axis {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .y-axis {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 20px;
        margin-right: 5px;
      }
      li {
        list-style: none;
        font-size: 1.2rem;
        color: orange;
        text-decoration: none;
      }
    </style>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: space-between;
    "
  >
    <div>
      <nav style="width: 100%">
        <ul style="width: 50%; display: flex; justify-content: space-around">
          <li><a href="/">Home</a></li>
          <li><a href="/stat">Statistics</a></li>
          <li><a href="/bar">Bar Chart</a></li>
          <li><a href="/pie">Pie Chart</a></li>
        </ul>
      </nav>
    </div>
    <div class="axis">
      <div class="y-axis">
        <% for (let i = 0; i <= 1000; i += 60) { %>
        <div><%= i %></div>
        <% } %>
      </div>
      <div class="chart">
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="bar" style="height: <%= data[i] %>px"></div>
        <% } %>
      </div>
    </div>
    <div class="x-axis">
      <% for (let i = 1; i <= data.length; i++) { %>
      <div><%= i %></div>
      <% } %>
    </div>
  </body>
</html>
